
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat";
}
.theme-color{
    color: #00D2B5;
}
.light-text{
    color: #666666;
}
.theme-bg{
    background: #00D2B5;
}
.theme-btn{
    color: #fff;
    background-color: #00D2B5;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid #00D2B5;
    box-shadow: 0 4px 20px -5px #00D2B5;
    

    &:hover{
        background-color: transparent;
        color: #fff ;
        transition: all .3s ease-in;
        box-shadow: none;
        
    }

}
.theme-icon{
    border-radius: 25px;
    color: #fff;
    background-color: #00D2B5;
    box-shadow: 0 4px 20px -5px #00D2B5;
    font-size: 26px;
}
.fcard{
    height: 100%;
    border-radius: 5px;
    position: relative;
    top: 0px;
    transition: all .5s ease-in-out;
    
    &:hover{
        background-color: #00D2B5;
        color: #fff;
        top: -10px;
        .material-icons{
            background-color: #fff;
            color: #00D2B5;
        }
    }
}
.img{
    width: 100%;
    height: auto;    
    img{
        width: 100%;
        height: auto;
    }
}

.hero{
    .container{
        .row{
            
            h2{
                font-weight: 700;
                color: #000;
            }
        }
    }
}
.blue-bg {
    height: 100%;
  }
  
  .circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #00D2B5;
    color: #fff;
    max-height: 50px;
    z-index: 2;
  }
  
  .how-it-works.row {
    display: flex;
  }
  .how-it-works.row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #00D2B5;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #00D2B5;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #00D2B5;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
  .testmonials span{
    color: #666666;
  }
  .testmonials p{
    color: #666666;
  }
  .Domains{
    .card{
      position: relative;
      top: 0px;
      transition: all .5s ease-in-out;

      span{
        color: #666666;
      }
      &:hover{
        background-color: #00D2B5;
        color: #fff;
        top: -10px;
        span{
          color: #ddd;
        }

      }

    }
  }